.container {
    position: relative;
    max-width: var(--max-width);
    padding: 0 2.5rem;
    margin: 0 auto;
    overflow: visible;
}

.layout {
    gap: 4rem;
    width: 100%;
    height: 100%;
    padding-bottom: 6rem;
    background-color: var(--body-background-color);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 25px;
}

.grid-column-span {
    grid-column: span 2;
}

.grid-row-span {
    grid-row-start: 1;
    grid-row-end: 3;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.masonry-container {
    column-count: 3;
    gap: 8px;
}

.masonry-column {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 8px;
    break-inside: avoid;
    perspective: 1000px; 
    perspective-origin: 50% 0; 
    transform-style: preserve-3d;
}

.min-height-500 {
    min-height: 500px;
}