.masonry-column article {
    transform-origin: 50% 0%;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 0;
    transform: rotateX(-40deg);
}

article {
    position: relative;
    background-color: var(--card-background-color);
    width: 100%;
}

article img,
article video {
    width: inherit;
    grid-row: 2 / -1;
    grid-column: 1;
}

article .article-content {
    grid-row: 1;
    grid-column: 1;
    padding: 2rem;
}

.article-heading {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0;
}