article {
    position: relative;
    background-color: var(--card-background-color);
    border-radius: 4px;
    width: 100%;
    /* FLIP EFFECT */
    /* transform-origin: 50% 0%;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 0.6914;
    transform: translate3d(0px, 0px, 0px) rotateX(-12.3457deg); */
}

article img,
article video {
    width: inherit;
    grid-row: 2 / -1;
    grid-column: 1;
}

article .article-content {
    grid-row: 1;
    grid-column: 1;
    padding: 2rem;
}

.article-heading {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0;
}