.project {
    background: linear-gradient(300deg, rgba(0, 0, 0, 0.877), rgb(255 255 255 / 5%)), var(--project-image);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    text-transform: uppercase;
}

article::after {
    content: url('../../assets/images/link.svg');
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 25px;
    transition: all 100ms ease-in;
}

article:hover::after {
    visibility: visible;
    opacity: 1;
}

article:hover .wavy span {
  animation: wavy 500ms 1s;
  animation-delay: calc(.1s * var(--i));
}

.project .project-content {
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px 0;
}

.project img {
    height: 24px;
    padding: 0 5px 0 0;
}

.project p {
    padding: 0 25px 0 0;
}

.content-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0 !important;
}

.content-location {
    display: flex;
}

.content-location p {
    font-size: 12px;
}

.swiper-projects {
    overflow: hidden;
}

.swiper-projects .swiper-slide {
    width: 0;
    transition: all 550ms ease;
}

.swiper-projects .swiper-slide-active {
    width: 35% !important;
    transition: width 250ms ease;
}

.swiper-projects .swiper-slide-next {
    width: 65% !important;
}