.ribbon {
    width: 0px;
    height: 35px;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid 15px #B13A22;
    border-bottom: solid 15px transparent;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .ribbon:hover {
    height: 65px;
  }
  
  .ribbon:active {
    /*
    ---- Transform stretch: ----
    (Less pretty)
    
    transform: translate(0, 20px)
               scale(0.8, 1.4);
   
    
    ---- width/height adjust stretch: ----
    (More choppy)
    
    height: 180px;
    border-left: solid 10px #B13A22;
    border-right: solid 10px #B13A22;
    right: 25px;
    */
    
    border-color: #d00;
    border-bottom-color: transparent;
  }